// Define variables for your color scheme

// For example:
$red:         #FD1015;
$blue:        #167FFB;
$yellow:      #FFC65A;
$orange:      #E67E22;
$green:       #1EDD88;
$gray:        #0E0000;
$light-gray:  #F4F4F4;

// Color palette of the project
$go-red:         #BA1200;
$go-black:       #031927;
$go-blue-light:  #9DD1F1;
$go-blue-medium: #508AA8;
$go-blue-gray:   #C8E0F4;
