<div class="container">
  <div class="margin-navbar">
    <div class="first-title"><h1>Gnomes <%= @curent_category %></h1></div>
      <div class="container">
        <div class="row">
          <% @gnomes.each do |gnome|%>
          <div class="col-sm-6">
            <div class="card-container">
              <div class="card-product">
                <img src="<%= gnome.photo %>" />
                <div class="card-product-infos">
                  <h2><%= link_to gnome.name, gnome_path(gnome) %></h2>
                    <div class="adopt"><p>Adoptez-moi !</p></div>
                  <p><strong><%= gnome.price %></strong>€ par jour</p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
