<div class="container">
  <div class="margin-navbar">
    <h1>Récapitulatif de votre réservation</h1>

    <div class="dual-containers">
      <div class="card-summary-gnome">
        <h2>kwuir</h2>
        <img src="https://m.media-amazon.com/images/I/619kshjp6VL._AC_SL1000_.jpg" alt="Gnome in leather">
      </div>

      <div class="card-summary-booking">
        <h2>Récapitulatif de votre réservation</h2>
        <li>
          <ul>Date de début: <strong>21/08/2021</strong> </ul>
          <ul>Date de fin: <strong>22/08/2021</strong> </ul>
          <ul>Montant de la réservation: <strong>84€</strong> </ul>
          <ul>Propriétaire du nain: <strong>Blanche Neige</strong> </ul>
        </li>
      </div>
    </div>

  </div>
</div>
