<div class="container">
  <div class="margin-navbar">
    <h1>Réservez votre nain de jardin</h1>

    <div class="dual-containers">
      <div class="card-summary-gnome">
        <h2><%= @gnome.name %></h2>
        <%= image_tag @gnome.photo %>
      </div>

      <div class="card-summary-booking">
      </div>
    </div>

  </div>
</div>
