<div class="card-article">

  <div class="card-article-text">
      <h2>L'impact positif des nains de jardin est prouvé</h2>
      <p>L'Institut des Etudes Gnomiques Comparées a démontré que les nains de jardin avaient un rôle bénéfique comme objet transitionnel.</p>
      <p>Le nain de jardin, souvent décrié voire moqué, en passe d’être réhabilité? Des études récentes montrent que celui-ci est bénéfique pour l’équilibre du jardin et la lutte contre les ravageurs au potager. Focus sur nos compagnons de céramique délaissés qui pourraient bien devenir un pilier du jardinage biologique. </p>
      <p>Un fait intuitivement remarqué par certains de nos anciens: les potagers ornés de nains de jardin seraient plus productifs et les légumes y seraient en meilleure santé que dans un potager sans nain. </p>
  </div>
</div>
