<div class="cards">
  <div class="card-article">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-article-infos">
      <h2>Anna : </h2>
      <p>"Je n'imagine plus ma vie sans mon nain de jardin."</p>
    </div>
  </div>

  <div class="card-article">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-article-infos">
      <h2>Anne :</h2>
      <p> strong"Comment mon nain de jardin a changé ma vie!"</p>
    </div>
  </div>

  <div class="card-article">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-article-infos">
      <h2>Estelle :</h2>
      <p>"Tout est plus fun avec mon nain de jardin!"</p>
    </div>
  </div>
</div>
