<div class="card-grid">

  <div class="card-polaroid">
    <div class="polaroid">
      <img src="https://i.pinimg.com/736x/25/b9/69/25b9695a5c674d6820c475cccddfb0f2--paris-eiffel-towers-tour-eiffel.jpg" alt="Gnome in front of Eiffel Tower">
      <div class="caption">
        <p>"Je n'imagine plus ma vie sans mon nain de jardin."</p>
        <h3>Anna</h3>
      </div>
    </div>
  </div>

  <div class="card-polaroid">
    <div class="polaroid">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnayT8WZiVGrSBmYA15jcK30cDWXtPq0AQePxliR5B7dswONpobc0xmfqR25BhYUSKNL0&usqp=CAU" alt="Gnome in front of a castle">
      <div class="caption">
        <p>"Mon nain de jardin m'a ouvert de nouveaux horizons.</p>
        <h3>Anne</h3>
      </div>
    </div>
  </div>

  <div class="card-polaroid">
    <div class="polaroid">
      <img src="https://images.unsplash.com/photo-1606237598791-e862e965fb9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="Couple of gnomes">
      <div class="caption">
        <p>"Tout est plus fun avec mes nains de jardin!"</p>
        <h3>Estelle</h3>
      </div>
    </div>
  </div>

  <div class="card-polaroid">
    <div class="polaroid">
      <img src="https://images.unsplash.com/photo-1541795021-f8b60a1a456d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Meditating Gnome">
      <div class="caption">
        <p>"Mon nain de jardin m'apporte paix et sérénité."</p>
        <h3>Mickael</h3>
      </div>
    </div>
  </div>
</div>
