<div class="card-article">
  <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1123,w_2000,x_0,y_45/v1618850453/shape/mentalfloss/645712-mac99-gettyimages-184104566.jpg?itok=eOfKBgwe" alt="Scholar Gnome">

  <div class="card-article-text">
      <h2>L'impact positif des nains de jardin est prouvé</h2>
      <p>L'Institut des Etudes Gnomiques Comparées a démontré que les nains de jardin avaient un rôle bénéfique comme objet transitionnel.</p>
  </div>
</div>
