<div class="container">
  <%= simple_form_for :search, url: gnomes_path, method: :get do |f| %>
    <%= f.input :category, collection: Gnome::CATEGORY, class: "text-white"%>
    <%= f.submit "Search" %>
  <% end %>
</div>
