 <div class="container">
  <div id="dashboard" class="margin-navbar">
    <div class="nav nav-tabs content-dash col-2" id="createNewTemplate" role="tablist">
      <div class="nav-item">
        <a class="tab-link active" id="Profil-tab" data-toggle="tab" data-function="Profil" href="#Profil" role="tab" aria-controls="Profil" aria-selected="true">Profil</a>
      </div>
      <div class="nav-item">
        <a class="tab-link active" id="Messages-tab" data-toggle="tab" data-function="Messages" href="#Messages" role="tab" aria-controls="Messages" aria-selected="true">Messages</a>
      </div>
      <div class="nav-item">
        <a class="tab-link" id="Réservations-tab" data-toggle="tab" href="#Réservations"data-function="Réservations" role="tab" aria-controls="Réservations" aria-selected="false">Réservations</a>
      </div>
      <div class="nav-item">
        <a class="tab-link active" id="Favoris-tab" data-toggle="tab" data-function="Favoris" href="#Favoris" role="tab" aria-controls="Favoris" aria-selected="true">Favoris</a>
      </div>
      <div class="nav-item">
        <a class="tab-link active" id="Gnomes-tab" data-toggle="tab" data-function="Gnomes" href="#Gnomes" role="tab" aria-controls="Gnomes" aria-selected="true">Gnomes</a>
      </div>
    </div>
    <div class="tab-content col-6" id="newTemplateContent">
      <div class="tab-pane fade show active" id="Profil" role="tabpanel" aria-labelledby="Profil-tab">Profil content...</div>
      <div class="tab-pane fade" id="Messages" role="tabpanel" aria-labelledby="Messages-tab">Messages content...</div>
      <div class="tab-pane fade" id="Réservations" role="tabpanel" aria-labelledby="Réservations-tab">Réservations content...</div>
      <div class="tab-pane fade" id="Favoris" role="tabpanel" aria-labelledby="Favoris-tab">Favoris content...</div>
      <div class="tab-pane fade" id="Gnomes" role="tabpanel" aria-labelledby="Gnomes-tab">Gnomes content...</div>

    </div>
  </div>
</div>
