<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path('background-gnome.jpg') %>)">
  <div class="container">
    <h1>Un vaste choix de gnomes</h1>
    <%= render 'shared/search-category' %>
  </div>
</div>

<div class="gallery">
  <%= render 'shared/card-article' %>
  <%= render 'shared/card-grid' %>
</div>
