
#dashboard {
  display: flex;

  align-items: stretch;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15% 0;
  height: auto;
  box-shadow:0 10px 30px rgba(0,0,0,.3);
  padding: 20px;

}

.content-dash {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin : 0px;
  width: 184px;
}

.content-dash a {
  padding: 1.2em 2em;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  background-color: #BA1200;
  text-decoration: none;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.info-dash {
  position: relative;
  align-items: center;
  padding: 0px 20px;
}

.content-dash a:hover {
  box-shadow:0 10px 30px rgba(0,0,0,.3);
   color: white;
}

.info-dash h2 {
   border-bottom: 1px solid black;
   padding-bottom: 2px;
}

.info-dash ul {
   list-style-type: none;
   padding: 0;
   margin-bottom: 10px;
}

.info-dash li {
  margin-bottom: 10px;
 }

.info-dash img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
    margin-top: 0;
    margin-left: 50%;
}
