.photo-gnome-booking{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  object-fit: cover;
  border-radius: 4px;
}

.photo-gnome{
  background-size: cover;
  background-position: top center;
  object-fit: cover;
  border-radius: 4px;
}
