.navbar-lewagon {
  justify-content: space-between;
  background: $gnome-red;
  z-index: 10;
}

.dropdown-menu {
  background-color: $gnome-black;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.margin-navbar{
  margin-top: 60px;
}
